/*Reset Browser Padding*/
*{ margin:0; padding:0; }

/*Make List horizontal and align*/
header li{ 
	display:inline-block;

	font-weight: 50;
	font-size:.8em;

	margin-top:1.9em;
	margin-left: 2%;
}
/*Align right side of header*/
#header-split{
	margin-left: 65%;
}
/*Position and size apps button*/
#apps{
	position:relative;
	top:8px;
	height: 25px;
	width: 25px;
}
/*Position and style Sign in button*/
#signin{
	border:none;
	color:white;
	font-weight: bold;
	background-color: blue;
	padding:10px 20px;
	text-decoration: none;
}

#googlelogo{
	margin-bottom: -1.5em;
	margin-top:4.8em;
	margin-left:37%;
	height:210px;
	width:340px;
}

#searchbar{
	padding-top:25px;
	width: 45%;
	box-sizing:border-box;
	border:1px lightgray solid;
	border-radius:0px;
	box-shadow:0px 2px 2.5px lightgray;
	margin-left:27.6%; 
}

#searchbuttons{
	margin-top: 3em;
	margin-left: 41%;
}
#searchbuttons button{
	border:none;
	border-radius: 0px;
}
#searchbuttons li{
	display:inline-block;
}